apiVersion: apps/v1
kind: Deployment
metadata:
  name: name-generator
  namespace: "#{Project.Namespace}"
  labels:
    app: name-generator
spec:
  replicas: 2
  selector:
    matchLabels:
      app: name-generator
  template:
    metadata:
      labels:
        app: name-generator
    spec:
      containers:
      - name: name-generator
        image: "336151728602.dkr.ecr.us-east-1.amazonaws.com/sandbox-1-name-generator:#{Octopus.Action.Package[name-generator].PackageVersion}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
        - name: PORT
          value: "8080"
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5